
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Montserrat, Helvetica, Arial, sans-serif;
$helveticaNeue: Bebas Neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$overpass: Overpass, Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
//import Overpass font
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
